name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches:
    - '**'

jobs:
  check_for_moved_files:
    name:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.12']

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: setup python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pip
      run: pip install -r requirements/pip.txt

    - name: Install Dependencies
      run: pip install -r requirements/base.txt

    - name: Run Rediraffe Check
      run: make check_redirects
